{% extends 'base.html' %}
{% load static %} 
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="about section-padding">
      <div class="container">
        <div class="row ">
          <div class="col-lg-10 col-12 mx-auto shadow-lg p-3 mb-5 bg-body rounded">

           <form {% if actualizar == False %} action="{% url 'registro-proyecto' %}" {% else %} action="{% url 'proyecto-actualizado' pk=idp %}" {% endif %} method="POST" class="" enctype="multipart/form-data">{% csrf_token %}

            <div class="row">

              {% if actualizar == False %}
              <h3 class="mb-3 text-center">Agregar un proyecto nuevo</h3>
              {% else %}
              <h3 class="mb-3 text-center">Editar entrega de proyecto</h3>
              {% endif %}


              {% include 'includes/alerts.html' %}

              <div class="col-lg-6 col-12 mx-auto">
                
              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Título del proyecto:</label>
                  {{ form.titulo }}
                  <div id="emailHelp" class="form-text">
                    
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label"
                    >Temática a la cual aplíca el proyecto:</label
                  >
                  {{ form.tematica }}
                  <div id="emailHelp" class="form-text">
                    
                  </div>
                </div>
                <div class="mb-3">
                    <label class="form-label"
                      >Semillero:</label
                    >
                    {{ form.semillero }}
                    <div id="emailHelp" class="form-text">
                      
                    </div>
                  </div>
                <div class="mb-3">
                  <label class="form-label"
                    >Video (modalidad Pitch) de 3 minutos en el que se presente el proyecto desde la importancia e impacto de este. Sube tu video a YouTube y pega el enlace aquí:</label
                  >
                  {{ form.url_video }}
                  <div id="emailHelp" class="form-text">
                    
                  </div>
                </div>  
                <div class="mb-3">
                  <label class="form-label"
                    >Documento del proyecto (pdf): - Descarga la plantilla/formato <a href="https://res.cloudinary.com/dwhvz3t4j/raw/upload/v1660888745/media/files/archivos/Plantilla_de_inscripcion_para_el_Encuentro.docx"><b>AQUÍ</b></a></label
                  >
                  {{ form.proyecto_pdf }}
                  <div id="emailHelp" class="form-text">
                    
                  </div>
                </div>
                
                <div class="mb-3">
                  <label class="form-label"
                    >Carta aval (pdf): - Descarga el modelo <a href="https://res.cloudinary.com/dwhvz3t4j/raw/upload/v1660888745/media/files/archivos/Modelo_Carta_Aval.docx"><b>AQUÍ</b></a></label
                  >
                  {{ form.carta_aval_pdf }}
                </div>
              </div>
              <div class="col-lg-6 col-12 mx-auto">
                  <div class="mb-3"">
                      <label class="form-check-label" for="flexRadioDefault1"
                        >Seleccione la modalidad de participación:</label
                      >
                      {{ form.modalidad_aprticipacion }}
                      
                  </div> 
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Autores del proyecto (mantener la tecla <b>Ctrl</b> + <b> click </b> para agregar varios autores. La lista se muestra ordenada alfabéticamente por el correo, si no encuentras el correo de tus compañeros es porque aun no se han registrado en la plataforma.): </label
                      >
                      {{ form.autores }}
                      <div id="emailHelp" class="form-text">
                        
                      </div>
                    </div> 
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Tutores del proyecto (mantener la tecla <b>Ctrl</b> + <b> click </b> para agregar varios tutores. La lista se muestra ordenada alfabéticamente por el correo, si no encuentras el correo de tus tutores es porque aun no se han registrado en la plataforma.): </label
                      >
                      {{ form.tutores }}
                      <div id="emailHelp" class="form-text">
                        
                      </div>
                    </div>
                    <div class="mb-3">
                    </div>  

              </div>
              <div >
                
                {{ form.errors }}
    
              </div>

              {% if actualizar == False %}

              <button type="submit" class="btn btn-primary col-lg-3 col-12 mx-auto" style="background-color: #2d418e;">Registrar proyecto</button><br>
              
              {% else %}

              <button type="submit" class="btn btn-primary col-lg-3 col-12 mx-auto" style="background-color: #2d418e;">Actualizar proyecto</button><br>

              {% endif %}

              <div class="text-center">
                  <br>
                </div>
            </div>
          </form>

          </div>
        </div>
      </div>
    </section>
  </body>
</html>

{% endblock %}