{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
  @media screen and (max-width: 480px) {
    th{
      font-size: 10px;
    }

    td{
      font-size: 10px;
    }

  }
</style>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <main class="col ps-md-2 pt-2">
            <div class="row">

                <br>
                <h3 class="mb-3 text-center">Usuarios del sistema</h3>

              {% if user.is_staff %}

                <div class="col-12">
                    <div class="container">

                        <button id="btnExcel2" type="button" class="btn btn-success">Exportar a Excel <i class="bi bi-file-earmark-excel"></i></button>

                        <div class="row" style="overflow: auto; width: 100%;">
                            <table class="table" id="tableusuarios">
                                <thead>
                                  <tr>
                                    <!--<th scope="col">#</th>-->
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Username</th>
                                    <th scope="col"># Documento</th>
                                    <th scope="col">Programa</th>
                                    <th scope="col">Universidad</th>
                                    

                                  </tr>
                                </thead>
                                <tbody>
                                  {% for usuario in usuarios %}

                                  <tr>
                                    
                                    <td>{{ usuario.nombres }}</td>
                                    <td>{{ usuario.apellidos }}</td>
                                    <td>{{ usuario.correo_institicional }}</td>
                                    <td>{{ usuario.username }}</td>
                                    <td>{{ usuario.no_documento }}</td>
                                    <td>{{ usuario.programa_academico }}</td>
                                    <td>{{ usuario.universidad }}</td>

                                  </tr>

                                  {% endfor %}

                                </tbody>
                              </table>
                              <script>
                                document.getElementById("btnExcel2").addEventListener("click", function(){
                                var table2excel = new Table2Excel();
                                table2excel.export(document.querySelectorAll("#tableusuarios"), "Usuarios");
                              });
                            </script>
                        </div>
                    </div>
                </div>

              {% endif %}  

            </div>
        </main>
    </div>
</div>

{% endblock %}