{% extends 'base.html' %} {% load static %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    {% if user.is_evaluador %}

    <section class="about section-padding">
        <h3 class="mb-3 text-center">Sistema de Valoración de proyectos de Semilleros de Investigación e Inngeniate-C</h3>
          <br>
          <br>
      <div class="container">
        <div class="row ">

          <div class="col-lg-5 col-12 mx-auto shadow-lg p-3 mb-5 bg-body rounded">
            <div class="card">
                <div class="card-header">
                  Valoraciones
                </div>
                <div class="card-body">
                  <h5 class="card-title">Proyectos a valorar de Semilleros de Investigación</h5>
                  <p class="card-text">Número de proyectos asignados: <b>{{ asignaciones_semilleros }}</b></p>
                  <a href="{% url 'tablero-evaluador' %}" class="btn btn-primary" style="background-color: #2d418e;">Ir a valorar proyectos</a>
                </div>
              </div>
          </div>
          <div class="col-lg-5 col-12 mx-auto shadow-lg p-3 mb-5 bg-body rounded">
            <div class="card">
                <div class="card-header">
                  Valoraciones
                </div>
                <div class="card-body">
                  <h5 class="card-title">Proyectos a valorar de INNGENIATE-C</h5>
                  <p class="card-text">Número de proyectos asignados: <b>{{ asignaciones_ingeniatec }}</b></p>
                  <a href="{% url 'tablero-evaluador-inngeniatec' %}" class="btn btn-primary" style="background-color: #2d418e;">Ir a valorar proyectos</a>
                </div>
              </div>
            </div>

             {% if user.is_staff %}
             <div class="col-lg-5 col-12 mx-auto shadow-lg p-3 mb-5 bg-body rounded">
              <div class="card">
                  <div class="card-header">
                    Calificaciones
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Calificaciones Semilleros de Investigación</h5>
                    <a href="{% url 'reporte-periodo-semilleros' %}" class="btn btn-primary" style="background-color: #2d418e;">Ver calificaciones</a>
                  </div>
                </div>
            </div>
            <div class="col-lg-5 col-12 mx-auto shadow-lg p-3 mb-5 bg-body rounded">
              <div class="card">
                  <div class="card-header">
                    Calificaciones
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Calificaciones Inngeniate-C
                    </h5>
                    <a href="{% url 'reporte-periodo-inngeniatec' %}" class="btn btn-primary" style="background-color: #2d418e;">Ver calificaciones</a>
                  </div>
                </div>
            </div>
            <div class="col-lg-5 col-12 mx-auto shadow-lg p-3 mb-5 bg-body rounded">
              <div class="card">
                  <div class="card-header">
                    Valoradores
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Valoradores sin valorar 
                    </h5>
                    <p class="card-text">Valoradores que no han sido asignados a volorar ningún proyecto</p>

                    <a href="{% url 'valoradores-sin-valorar' %}" class="btn btn-primary" style="background-color: #2d418e;">Ver lista</a>
                  </div>
                </div>
            </div>
            <div class="col-lg-5 col-12 mx-auto shadow-lg p-3 mb-5 bg-body rounded">
              <div class="card">
                  <div class="card-header">
                    Valoradores
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Reporte de valoradores y sus asignaciones
                    </h5>
                    <p class="card-text">Reporte con el número de proyectos asignados a cada valorador</p>

                    <a href="{% url 'reporte-valoradores-asignados' %}" class="btn btn-primary" style="background-color: #2d418e;">Ver reporte</a>
                  </div>
                </div>
            </div>
            {% endif %}
        
        </div>
      </div>
    </section>

    {% else %}

    <section class="about section-padding">
      <div class="container">
        <div class="row" style="align-items: center;">

          <h3 style="text-align: center;">Lo sentimos, no tienes acceso a este sitio <i class="bi bi-emoji-frown"></i></h3>

        </div>
      </div>
    </section>

    {% endif %}

  </body>
</html>

{% endblock %}

