{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
  @media screen and (max-width: 480px) {
    th{
      font-size: 10px;
    }

    td{
      font-size: 10px;
    }

  }
</style>

<div class="container-fluid">
  <br>
    <div class="row flex-nowrap">
        <main class="col ps-md-2 pt-2">
            <div class="row">

                <h3 class="mb-3 text-center">Tus proyectos a valorar - Semilleros de Investigación</h3>

              {% if user.is_evaluador %}

              {% if proyectos_asignados %}

                <div class="col-12">
                    <div class="container">
                      {% include 'includes/alerts.html' %}
                      <p>La ponderación general de la FASE DE PRESELECCIÓN corresponde al 70%.</p>
                      <p>La ponderación general de la PRESENTACIÓN ORAL corresponde al 30%.</p>
                      <p>Recuerden la calificación es un valor numérico de 0 a 5.</p>
                        <div class="row" style="overflow: auto; width: 100%;">
                            <table class="table">
                                <thead>
                                  <tr>
    
                                    <th scope="col">Título del proyecto</th>
                                    <th scope="col">Fecha de asignación</th>
                                    <th scope="col">Documento</th>
                                    <th scope="col">calificación preselección </th>
                                    <th scope="col">Calificación oral</th>
      
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for proyecto in proyectos_asignados %}

                                  <tr>
                                    
                                    <td>{{ proyecto.proyecto }}</td>
                                    <td>{{ proyecto.fecha_asignacion}}</td>
                                    <td><a href="{{ proyecto.proyecto.proyecto_pdf.url }}" target="_blank"><i class="bi bi-file-earmark-pdf-fill"></i></a></td>
                                    
                                    
                                    <td> 

                                      <div class="container-fluid">
                                        <div class="row">
                    
                                            <div class="col-sm-6 col-12">

                                              {% if proyecto.proyecto in proyectoscalificados %}
                                              <i class="bi bi-check-circle">Calificado</i>
                                               
                                              {% else %}

                                              <a type="button" href="{% url 'registro-evaluacion-preseleccion' pk=proyecto.proyecto.id pk_calificacion=proyecto.id %}" class="btn btn-primary">Calificar</a>
                                            </div>
                    
                                            {% endif %}

                                        </div>
                                    </div>

                                     
                                    </td>

                                    <td> 

                                      <div class="container-fluid">
                                        <div class="row">
                    
                                            <div class="col-sm-12 col-12">

                                              {% if activacion_calificacion_oral %}
                                             
                                                {% if proyecto.asignacion_calificada1  %}

                                                <i class="bi bi-check-circle">Calificado</i>
                                                
                                                {% else %}
                                                <a type="button" href="{% url 'registro-evaluacion-oral' pk=proyecto.proyecto.id pk_calificacion=proyecto.id %}" class="btn btn-primary">Calificar</a>

                                                {% endif %}

                                              {% else %}

                                              <i class="bi bi-info-circle">No disponible</i>

                                              {% endif %}

                                            </div>
                    
                                        </div>
                                    </div>

                                     
                                    </td>
                                  </tr>

                                  {% endfor %}

                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>

              {% else %}
                <br>
                <br>
                
                <h5 style="text-align: center;">No te han asignado proyectos a valorar por el momento.</h5>
                
                <br>
                <br>

              {% endif %}  

              {% endif %}  

            </div>
        </main>
    </div>
</div>

{% endblock %}