
{% load static %}


<footer class="site-footer" style="background-color: #86c330; padding-top: 50px;
padding-bottom: 50px;">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-12 col-12 ms-lg-auto">
                <div class="copyright-text-wrap d-flex align-items-center">
                    <p class="copyright-text ms-lg-auto me-4 mb-0" style="color: white;">Universidad Autónoma de Bucaramanga - UNAB | Sujeta a inspección y vigilancia por parte del Ministerio de Educación Nacional | © Todos los derechos reservados 
                </div>
            </div>

        </div>
    </div>
</footer>

<!-- JAVASCRIPT FILES -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/click-scroll.js' %}"></script>
<script src="{% static 'js/click-scroll.js' %}"></script>
<script src="{% static 'js/table2excel.js' %}"></script>
