
{% load static %}

<nav class="navbar navbar-expand-lg">
    <div class="container">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="index.html" class="navbar-brand mx-auto mx-lg-0">
            <img class="nav-img-logo " src="{% static 'logo011.png' %}" alt="logo_UNAB">
        </a>

        {% if not user.id %}
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'home' %}">Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'registro' %}">Inscribirme</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'login-page' %}">Iniciar sesión</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'lineas-tematicas' %}">Líneas temáticas</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'guia' %}">Guía detallada de inscripción</a>
                </li>

                <a href="index.html" class="navbar-brand mx-auto mx-lg-0">
                    <img class="nav-img-logo " src="{% static 'logoinge.png' %}" alt="logo_UNAB">
                </a>

            </ul>
        <div>

        {% else %}
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    
                    {% if user.is_evaluador %}
                    <a class="nav-link click-scroll" href="{% url 'tablero-inicial-valorador' %}">Inicio</a>
                    {% else %}
                    <a class="nav-link click-scroll" href="{% url 'tablero' %}">Inicio</a>
                    {% endif %}
                    
                </li>

                <li class="nav-item">
                    <div class="dropdown"  style="border:none;">
                        <button class="btn btn-secondary dropdown-toggle nav-link click-scroll" style="background-color: #86c330; padding: 10px; border: none;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                           Mis proyectos
                        </button>
                        <ul class="dropdown-menu" style="border: solid 1px #86c330;">
                        {% if user.is_autor %}<li><a class="dropdown-item" href="{% url 'tablero' %}">Mis proyectos</a></li>{% endif %}
                        {% if user.is_tutor %} <li><a class="dropdown-item" href="{% url 'tablero-tutor' %}">Proyectos de mi tutoría</a></li>{% endif %}
                        {% if user.is_evaluador %} <li><a class="dropdown-item" href="{% url 'tablero-evaluador' %}">Proyectos a evaluar Semilleros de Investigación</a></li> {% endif %}
                        {% if user.is_evaluador %} <li><a class="dropdown-item" href="{% url 'tablero-evaluador-inngeniatec' %}">Proyectos a evaluar INNGENIATE-C</a></li> {% endif %}
                    
                    </ul>
                      </div>
                </li>

                {% if user.is_staff %}

                <li class="nav-item">
                    <div class="dropdown"  style="border:none;">
                        <button class="btn btn-secondary dropdown-toggle nav-link click-scroll" style="background-color: #86c330; padding: 10px; border: none;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                           Asignar valoradores
                        </button>
                        <ul class="dropdown-menu" style="border: solid 1px #86c330;">
                        {% if user.is_staff %} <li><a class="dropdown-item" href="{% url 'asigancion-valorador-proyecto' %}">Asignar valoradores Semilleros de Investigación</a></li> {% endif %}
                        {% if user.is_staff %} <li><a class="dropdown-item" href="{% url 'asigancion-valorador-proyecto-inngeniatec' %}">Asignar valoradores INNGENIATE-C</a></li> {% endif %}
                    </ul>
                      </div>
                </li>

                {% endif %}

                {% if user.is_staff %}

                <li class="nav-item">
                    <div class="dropdown" style="border:none;">
                        <button class="btn btn-secondary dropdown-toggle nav-link click-scroll" style="background-color: #86c330; padding: 10px; border: none;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                           Reportes
                        </button>
                        <ul class="dropdown-menu" style="border: solid 1px #86c330;">
                          <li><a class="dropdown-item" href="{% url 'reporte-proyectos' %}">Proyectos de Semilleros inscritos</a></li>
                          <li><a class="dropdown-item" href="{% url 'reporte-usuarios' %}">Usuarios del sistema</a></li>
                        </ul>
                      </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'crear_evento_prueba' %}">Agregar nuevo evento</a>
                </li>

                {% endif %}

                <li class="nav-item">
                    <div class="dropdown" style="border:none;">
                        <button class="btn btn-secondary dropdown-toggle nav-link click-scroll" style="background-color: #86c330; padding: 10px; border: none;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i> {{ user.nombres }}
                        </button>
                        <ul class="dropdown-menu" style="border: solid 1px #86c330;">
                         <!-- <li><a class="dropdown-item" href="#">Perfil</a></li>-->
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="{% url 'loguot' %}">Cerrar sesión</a></li>
                        </ul>
                      </div>
                </li>
                <a href="index.html" class="navbar-brand mx-auto mx-lg-0">
                    <img class="nav-img-logo " src="{% static 'logoinge.png' %}" alt="logo_UNAB">
                </a>

            </ul>
        <div>

        {% endif %}
                
    </div>
</nav>