{% extends 'base.html' %}
{% load static %} 
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>evaluar</title>
  </head>
  <body>
    <section class="about section-padding">
      <div class="container">
        <div class="row ">
          <div class="col-lg-10 col-12 mx-auto shadow-lg p-3 mb-5 bg-body rounded">

           <form action="{% url 'registro-evaluacion-oral' pk=idp pk_calificacion=idc %}" method="POST" class="">{% csrf_token %}

            <div class="row">
             
              <h3 class="mb-3 text-center">Calificación oral para:</h3>
              <h6 class="mb-3 text-center">{{proyecto}}</h6>

              {% include 'includes/alerts.html' %}

              <div class="col-lg-6 col-12 mx-auto">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Dominio temático: El ponente muestra dominio y conocimiento sobre el tema expuesto.</label>
                    <p>Ponderación Criterio 3.1. corresponde al 40%. Calificación (0.0-5.0):</p>
                  {{ form.dominio_tematico }}
                  <div id="emailHelp" class="form-text">
                    
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label"
                    >Expresión Oral: El ponente tiene buena expresión oral y logra atraer atención del público.</label
                  >
                  <p>Ponderación Criterio 3.2. corresponde al 25%. Calificación (0.0-5.0):</p>
                  {{ form.expresion_oral }}
                  <div id="emailHelp" class="form-text">
                    
                  </div>
                </div>
               
              </div>
              <div class="col-lg-6 col-12 mx-auto">
                  <div class="mb-3"">
                      <label class="form-check-label" for="flexRadioDefault1"
                        >Creatividad y diseño: Los recursos audiovisuales son adecuados para la exposición del tema.</label
                      >
                      <p>Ponderación Criterio 3.3. corresponde al 35%. Calificación (0.0-5.0):</p>
                      {{ form.creatividad_diseño }}
                  </div> 
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Observaciones y recomendaciones:</label
                      >
                      {{ form.observaciones }}
                      <div id="emailHelp" class="form-text">
                        
                      </div>
                    </div> 
                    <div class="mb-3">
                    </div>  

              </div>

              <div >
                
                {{ form.errors }}
    
              </div>

              <button type="submit" class="btn btn-primary col-lg-3 col-12 mx-auto" style="background-color: #2d418e;">Calificar proyecto</button><br>
              
              <div class="text-center">
                  <br>
                </div>
            </div>
          </form>

          </div>
        </div>
      </div>
    </section>
  </body>
</html>

{% endblock %}