{% extends 'base.html' %}{% load static %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <section class="about section-padding">
        <h3 class="mb-3 text-center">Elige el evento en el que deseas participar:</h3>
          <br>
          <br>
      <div class="container">
        <div class="row ">

          <div class="col-lg-5 col-12 mx-auto shadow-lg p-3 mb-5 bg-body rounded">
            <div class="card">
                <div class="card-header">
                  Inicio
                </div>
                <div class="card-body">
                  <h5 class="card-title">Encuentro de Semilleros de Investigación</h5>
                  <p class="card-text">¡Participa ahora!</b></p>
                  <a href="{% url 'home_semilleros' %}" class="btn btn-primary" style="background-color: #2d418e;">Ir</a>
                </div>
              </div>
          </div>
          <div class="col-lg-5 col-12 mx-auto shadow-lg p-3 mb-5 bg-body rounded">
            <div class="card">
                <div class="card-header">
                  Inicio
                </div>
                <div class="card-body">
                  <h5 class="card-title">INNGENIATE-C</h5>
                  <p class="card-text">¡Participa ahora!</b></p>
                  <a href="{% url 'home_inngeniatec' %}" class="btn btn-primary" style="background-color: #2d418e;">Ir</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>

  </body>
</html>

{% endblock %}