
{% extends 'base.html' %}

{% load static %}

{% block content %}

        <main>

            <!--<section class="hero" id="section_1">
                <div class="container">
                    <div class="row">

                        <div class="main1 col-lg-5 col-12 m-auto">
                            <div class="hero-text">

                                <h1 class="text-white mb-4">Semana de Ingeniería UNAB 2022</h1>
                                   
                                <div class="d-flex justify-content-center align-items-center">
                                    <span class="date-text">5, 6 y 7 de Octubre</span>

                                    <span class="location-text">UNAB</span>
                                </div>

                                <a href="#section_2" class="custom-link bi-arrow-down arrow-icon"></a>
                            </div>
                        </div>      

                    </div>
                </div>
                <div class="video-wrap">
                     <<video autoplay="" loop="" muted="" class="custom-video" poster="">
                        <source src="videos/pexels-pavel-danilyuk-8716790.mp4" type="video/mp4">

                        Your browser does not support the video tag.
                    </video>

                    <img class="custom-video" src="{% static '/invitacion.png' %}" alt="fondo">

                </div>

            </section>-->


            <section class="about section-padding" id="section_2">
                <div class="container">
                    <div class="row">

                        <h2 class="mb-5 text-center">Encuentro de <u class="text-info">Semilleros</u></h2>

                        <div class="col-lg-10 col-12">
                            <h2 class="mb-4">¿De qué se trata? <u class="text-info">¡lee!</u></h2>
                        </div>

                        <div class="col-lg-6 col-12">
                            <h3 class="mb-3">Incribe tu proyecto para participar en la semana de Ingeniería Unab</h3>

                            <p>En el marco de la semana de ingeniería UNAB 2022 se llevará a cabo la XVI edición del encuentro de semilleros de investigación. La Dirección de Investigaciones UNAB convoca a los estudiantes miembros Semilleros de Investigación de las Instituciones de Educación Superior. Se ha considerado la participación de otras Universidades para promover la creación de espacios académicos que favorezcan la identificación de oportunidades de trabajo colaborativo entre los miembros de la comunidad académica de la región.</p>

                            <h4>Para participar con tu proyecto debes iniciar sesion en la plataforma de Semilleros UNAB, si aún no tienes cuenta puedes crear una a continuación:</h4>>

                            <a class="custom-btn custom-border-btn btn custom-link mt-3 me-3" href="{% url 'registro' %}">Inscribirme</a>

                            <a class="custom-btn btn custom-link mt-3" href="{% url 'login-page' %}">Iniciar sesion</a>
                        </div>

                        <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                           
                        </div>

                    </div>
                </div>
            </section>

            <section class="about section-padding" id="section_6">
                <div class="container">
                    <div class="row">

                        <h2 class="mb-5 text-center">Encuentro de <u class="text-info">Semilleros</u></h2>

                        <div class="col-lg-6 col-12">
                            <h3 class="mb-3">Incribe tu proyecto para participar en la semana de Ingeniería Unab</h3>

                            <p>En el marco de la semana de ingeniería UNAB 2022 se llevará a cabo la XVI edición del encuentro de semilleros de investigación. La Dirección de Investigaciones UNAB convoca a los estudiantes miembros Semilleros de Investigación de las Instituciones de Educación Superior. Se ha considerado la participación de otras Universidades para promover la creación de espacios académicos que favorezcan la identificación de oportunidades de trabajo colaborativo entre los miembros de la comunidad académica de la región.</p>

                            <a class="custom-btn btn custom-link mt-3" href="#section_4">Participar</a>

                        </div>

                        <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore</h4>

                            <div class="avatar-group border-top py-5 mt-5">
                                <img src="images/avatar/portrait-good-looking-brunette-young-asian-woman.jpg" class="img-fluid avatar-image" alt="">

                                <img src="images/avatar/happy-asian-man-standing-with-arms-crossed-grey-wall.jpg" class="img-fluid avatar-image avatar-image-left" alt="">

                                <img src="images/avatar/senior-man-white-sweater-eyeglasses.jpg" class="img-fluid avatar-image avatar-image-left" alt="">

                                <img src="images/avatar/pretty-smiling-joyfully-female-with-fair-hair-dressed-casually-looking-with-satisfaction.jpg" class="img-fluid avatar-image avatar-image-left" alt="">

                                <p class="d-inline">¡Demuestra tus habilidades!</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


        </main>

    </body>
</html>

{% endblock %}