
{% extends 'base.html' %}

{% load static %}

{% block content %}

        <main>
            <section class="about section-padding" id="section_2">
                <div class="container">

                    {% if config %}

                    <div class="row">

                        <h2 class="mb-5 text-center">{{config.titulo_principal}}
                            </h2>

                        <div class="col-lg-12 col-12 shadow-sm p-3 mb-5 bg-body rounded">
                            <h2 class="mb-4 text-center">¿De qué se trata?</h2>
                            
                            <p>Puedes encontrar todos los términos de la convocatoria del encuentro de semilleros dando click <a href="{{config.terminos_convocatoria_url}}"><b>AQUÍ</b> <i class="bi bi-arrow-down-circle-fill"></i>
                            </a></p>
                            <p>Puedes encontrar la plantilla/formato de inscripción del proyecto dando click <a href="{{config.plantilla_inscripcion_url}}"><b>AQUÍ</b>  <i class="bi bi-arrow-down-circle-fill"></i></a>
                            </p>
                            <p>Puedes encontrar el formato de la carta Aval dando click <a href="{{config.formato_carta_aval_url}}"><b>AQUÍ</b> <i class="bi bi-arrow-down-circle-fill"></i></a> 
                            </p>

                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button
                                      class="accordion-button"
                                      type="button"
                                      data-bs-toggle="collapse"
                                      data-bs-target="#panelsStayOpen-collapseOne"
                                      aria-expanded="true"
                                      aria-controls="panelsStayOpen-collapseOne"
                                    >
                                      <h5>
                                        Video guía de proceso de inscripción al encuentro de Semilleros UNAB
                                      </h5>
                                    </button>
                                  </h2>
                                  <div
                                    id="panelsStayOpen-collapseOne"
                                    class="accordion-collapse collapse show"
                                    aria-labelledby="panelsStayOpen-headingOne"
                                  >
                                    <div class="accordion-body">
                                      
                                      <div class="embed-responsive" style="
                                      height: 400px; width: 100%;">
                                        <iframe 
                                        class="embed-responsive-item" style="
                                        height: 100%; width: 100%;" src="{{config.video_guia_inscripcion_url}}" allowfullscreen></iframe>
                                      </div>
                  
                                    </div>
                                  </div>
                                </div>
                  
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 shadow-sm p-3 mb-5 bg-body rounded">
                            <h3 class="mb-3">{{config.titulo_secundario1}}</h3>

                            <p>{{config.parrafo_secundario1}}</p>
                        </div>

                        <div class="col-lg-6 col-12 mt-5 mt-lg-0 shadow-sm p-3 mb-5 bg-body rounded">
                            <h3 class="mb-3">{{config.titulo_secundario2}}</h3>

                            <h4>{{config.parrafo_secundario2}}</h4>
                            
                            <p>Encontrarás una guía detallada de inscripción <b><a href="{% url 'guia' %}" style="color: #2d418e;">aquí.</a></b></p>

                            <a class="custom-btn custom-border-btn btn custom-link mt-3 me-3" href="{% url 'registro' %}">Inscribirme</a>

                            <a class="custom-btn btn custom-link mt-3" href="{% url 'login-page' %}">Iniciar sesión</a>
                        </div>

                        <div class="col-lg-6 col-12 shadow-sm p-3 mb-5 bg-body rounded">
                            <h3 class="mb-3">Fechas importantes:</h3>
  
                            {% for fecha in fechas %}
                            <p>{{fecha.descripcion}} <b>{{fecha.fecha}}</b></p>
                            {% endfor %}

                        </div>

                        <div class="col-lg-6 col-12 mt-5 mt-lg-0 shadow-sm p-3 mb-5 bg-body rounded">
                            <h3 class="mb-3">Correo de contacto:</h3>
                            <p><i class="bi bi-envelope"></i><b>{{config.correo_contacto}}</b></p>
                        </div>

                    </div>

                    {% else %}

                    <div class="row">

                        <h2 class="mb-5 text-center">XVI ENCUENTRO DE SEMILLEROS DE INVESTIGACIÓN 
                            FACULTAD DE INGENIERÍA Y DPTO DE CIENCIAS BÁSICAS - UNAB 2022
                            </h2>

                        <div class="col-lg-12 col-12 shadow-sm p-3 mb-5 bg-body rounded">
                            <h2 class="mb-4 text-center">¿De qué se trata?</h2>
                            
                            <p>Puedes encontrar todos los términos de la convocatoria del encuentro de semilleros 2022 dando click <a href="https://res.cloudinary.com/dwhvz3t4j/raw/upload/v1660888070/media/files/archivos/Terminos_convocatoria_encuentro_semilleros_2022.docx"><b>AQUÍ</b> <i class="bi bi-arrow-down-circle-fill"></i>
                            </a></p>
                            <p>Puedes encontrar la plantilla/formato de inscripción del proyecto dando click <a href="https://res.cloudinary.com/dwhvz3t4j/raw/upload/v1660888745/media/files/archivos/Plantilla_de_inscripcion_para_el_Encuentro.docx"><b>AQUÍ</b>  <i class="bi bi-arrow-down-circle-fill"></i></a>
                            </p>
                            <p>Puedes encontrar el formato de la carta Aval dando click <a href="https://res.cloudinary.com/dwhvz3t4j/raw/upload/v1660888745/media/files/archivos/Modelo_Carta_Aval.docx"><b>AQUÍ</b> <i class="bi bi-arrow-down-circle-fill"></i></a> 
                            </p>

                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button
                                      class="accordion-button"
                                      type="button"
                                      data-bs-toggle="collapse"
                                      data-bs-target="#panelsStayOpen-collapseOne"
                                      aria-expanded="true"
                                      aria-controls="panelsStayOpen-collapseOne"
                                    >
                                      <h5>
                                        Video guía de proceso de inscripción al encuentro de Semilleros UNAB
                                      </h5>
                                    </button>
                                  </h2>
                                  <div
                                    id="panelsStayOpen-collapseOne"
                                    class="accordion-collapse collapse show"
                                    aria-labelledby="panelsStayOpen-headingOne"
                                  >
                                    <div class="accordion-body">
                                      
                                      <div class="embed-responsive" style="
                                      height: 400px; width: 100%;">
                                        <iframe 
                                        class="embed-responsive-item" style="
                                        height: 100%; width: 100%;" src="https://www.youtube.com/embed/gi19YcwBC6g" allowfullscreen></iframe>
                                      </div>
                  
                                    </div>
                                  </div>
                                </div>
                  
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 shadow-sm p-3 mb-5 bg-body rounded">
                            <h3 class="mb-3">Inscribe tu proyecto para participar en la semana de Ingeniería Unab</h3>

                            <p>En el marco de la semana de ingeniería UNAB 2022 se llevará a cabo la XVI edición del encuentro de semilleros de investigación correspondientes al área de Ingeniería y Ciencias básicas. La Facultad de Ingeniería y la Dirección de Investigaciones UNAB convoca a los estudiantes miembros Semilleros de Investigación de las Instituciones de Educación Superior a inscribir las investigaciones que realizan en su proceso de formación.  Con la participación de otras Universidades se articula la creación de espacios académicos que favorezcan la identificación de oportunidades de trabajo colaborativo entre los miembros de la comunidad académica de la región.</p>

                        </div>

                        <div class="col-lg-6 col-12 mt-5 mt-lg-0 shadow-sm p-3 mb-5 bg-body rounded">
                            <h3 class="mb-3">Guía para inscribirte e inscribir tu proyecto:</h3>

                            <h4>Para participar con tu proyecto debes iniciar sesión en la plataforma de Semilleros UNAB, si aún no tienes cuenta puedes crear una a continuación:</h4>
                            
                            <p>Encontrarás una guía detallada de inscripción <b><a href="{% url 'guia' %}" style="color: #2d418e;">aquí.</a></b></p>

                            <a class="custom-btn custom-border-btn btn custom-link mt-3 me-3" href="{% url 'registro' %}">Inscribirme</a>

                            <a class="custom-btn btn custom-link mt-3" href="{% url 'login-page' %}">Iniciar sesión</a>
                        </div>

                        <div class="col-lg-6 col-12 shadow-sm p-3 mb-5 bg-body rounded">
                            <h3 class="mb-3">Fechas importantes:</h3>
  
                            <p>Apertura de convocatoria: <b>1 de agosto de 2022</b></p>
                            <p>Cierre de convocatoria (Nuevo plazo): <b>8 de septiembre de 2022</b></p>
                            <p>Valoración de trabajos: <b>Septiembre 6 a septiembre 21 de 2022</b></p>
                            <p>Publicación resultados seleccionados: <b>Septiembre 28 de 2022</b></p>
                            <p>Exposición y sustentación de trabajos: <b>6 de octubre de 2022</b></p>

                        </div>

                        <div class="col-lg-6 col-12 mt-5 mt-lg-0 shadow-sm p-3 mb-5 bg-body rounded">
                            <h3 class="mb-3">Correo de contacto:</h3>
                            <p><i class="bi bi-envelope"></i><b> investigacionesingenieria@unab.edu.co</b></p>
                        </div>

                    </div>

                    {% endif %}

                </div>
            </section>
        </main>

    </body>
</html>

{% endblock %}