
{% extends 'base.html' %}

{% load static %}

{% block content %}

        <main>

            <!--<section class="hero" id="section_1">
                <div class="container">
                    <div class="row">

                        <div class="main1 col-lg-5 col-12 m-auto">
                            <div class="hero-text">

                                <h1 class="text-white mb-4">Semana de Ingeniería UNAB 2022</h1>
                                   
                                <div class="d-flex justify-content-center align-items-center">
                                    <span class="date-text">5, 6 y 7 de Octubre</span>

                                    <span class="location-text">UNAB</span>
                                </div>

                                <a href="#section_2" class="custom-link bi-arrow-down arrow-icon"></a>
                            </div>
                        </div>      

                    </div>
                </div>
                <div class="video-wrap">
                     <<video autoplay="" loop="" muted="" class="custom-video" poster="">
                        <source src="videos/pexels-pavel-danilyuk-8716790.mp4" type="video/mp4">

                        Your browser does not support the video tag.
                    </video>

                    <img class="custom-video" src="{% static '/invitacion.png' %}" alt="fondo">

                </div>

            </section>-->


            <section class="about section-padding" id="section_2">
                <div class="container">
                    <div class="row">

                        <h2 class="mb-5 text-center">Encuentro de Semilleros</h2>

                        <div class="col-lg-12 col-12">
                            <h2 class="mb-4 text-center">¿De qué se trata? <u class="text-info">¡lee!</u></h2>
                            
                            <p>Puedes encontrar todos los términos de la convocatoria del encuentro de semilleros 2022 dando click <a href="https://res.cloudinary.com/dwhvz3t4j/raw/upload/v1660888070/media/files/archivos/Terminos_convocatoria_encuentro_semilleros_2022.docx"><b>AQUÍ</b> <i class="bi bi-arrow-down-circle-fill"></i>
                            </a></p>
                            <p>Puedes encontrar la plantilla/formato de inscripción del proyecto dando click <a href="https://res.cloudinary.com/dwhvz3t4j/raw/upload/v1660888745/media/files/archivos/Plantilla_de_inscripcion_para_el_Encuentro.docx"><b>AQUÍ</b>  <i class="bi bi-arrow-down-circle-fill"></i></a>
                            </p>
                            <p>Puedes encontrar el formato de la carta Aval dando click <a href="https://res.cloudinary.com/dwhvz3t4j/raw/upload/v1660888745/media/files/archivos/Modelo_Carta_Aval.docx"><b>AQUÍ</b> <i class="bi bi-arrow-down-circle-fill"></i></a> 
                            </p>

                        </div>

                        <div class="col-lg-6 col-12">
                            <h3 class="mb-3">Incribe tu proyecto para participar en la semana de Ingeniería Unab</h3>

                            <p>En el marco de la semana de ingeniería UNAB 2022 se llevará a cabo la XVI edición del encuentro de semilleros de investigación. La Dirección de Investigaciones UNAB convoca a los estudiantes miembros Semilleros de Investigación de las Instituciones de Educación Superior. Se ha considerado la participación de otras Universidades para promover la creación de espacios académicos que favorezcan la identificación de oportunidades de trabajo colaborativo entre los miembros de la comunidad académica de la región.</p>

                        </div>

                        <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                            <h3 class="mb-3">Guía para inscribirte e inscribir tu proyecto:</h3>

                            <h4>Para participar con tu proyecto debes iniciar sesión en la plataforma de Semilleros UNAB, si aún no tienes cuenta puedes crear una a continuación:</h4>
                            
                            <p>Encontrarás una guía detallada de inscripción <b><a href="{% url 'guia' %}" style="color: #2d418e;">aquí.</a></b></p>

                            <a class="custom-btn custom-border-btn btn custom-link mt-3 me-3" href="{% url 'registro' %}">Inscribirme</a>

                            <a class="custom-btn btn custom-link mt-3" href="{% url 'login-page' %}">Iniciar sesión</a>
                        </div>

                    </div>
                </div>
            </section>


        </main>

    </body>
</html>

{% endblock %}