{% extends 'base.html' %}
{% load static %} 
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="about section-padding">
      <div class="container">
        <div class="row ">
          
            <div class="col-lg-12 col-12" id="lineastematicasnav">
                <h2 class="mb-4 text-center">Líneas temáticas</h2>  
                <p>Los estudiantes podrán presentar sus Proyectos de investigación de ingeniería que aporten soluciones a las problemáticas de <b>Ingeniería y Ciencias Básicas</b> en los temas relacionados en los siguientes campos de conocimiento:</p>
            </div>

            {% if tematicas %}
              
            <div class="col-lg-12 col-12 shadow-sm p-3 mb-5 bg-body rounded">
                
              {% for tematica in tematicas %}
              <h6><i class="bi bi-bookmark-check"></i> <b>{{tematica.titulo_tematica}}</b></h6>
              {% endfor %}

          </div>

            {% else %}

            <div class="col-lg-6 col-12 shadow-sm p-3 mb-5 bg-body rounded">
                
                <h6><i class="bi bi-bookmark-check"></i> <b>Telemática</b></h6>
                <h6><i class="bi bi-bookmark-check"></i> <b>Sistemas de información e ingeniería de software</b></h6>
                <h6><i class="bi bi-bookmark-check"></i> <b>Fuentes energéticas, transformación de energía, Eficiencia energética en procesos y operaciones industriales</b></h6>
                <h6><i class="bi bi-bookmark-check"></i> <b>Creatividad e innovación</b></h6>
                <h6><i class="bi bi-bookmark-check"></i> <b>Modelamiento, simulación, diseño mecatrónico, automatización y control</b></h6>
                <h6><i class="bi bi-bookmark-check"></i> <b>Ingeniería clínica hospitalaria, biomateriales, bioinstrumentación y biomecánica</b></h6>

            </div>

            <div class="col-lg-6 col-12 mt-5 mt-lg-0 shadow-sm p-3 mb-5 bg-body rounded">

                <h6><i class="bi bi-bookmark-check"></i> <b>Optimización y operaciones, Manufactura y lean manufacturing</b></h6>
                <h6><i class="bi bi-bookmark-check"></i> <b>Educación financiera, Inversiones, Finanzas corporativas, Riesgo, cobertura y especulación</b></h6>
                <h6><i class="bi bi-bookmark-check"></i> <b>Enseñanza en ciencias, modelamiento matemático y estadística aplicada</b></h6>
                <h6><i class="bi bi-bookmark-check"></i> <b>Estudio, intervención y desarrollo tecnológico con enfoques sistémicos en instituciones, educación y tecnología</b></h6>
                <h6><i class="bi bi-bookmark-check"></i> <b>Marketing y logística</b></h6>
                <h6><i class="bi bi-bookmark-check"></i> <b>Biotecnología y ambiente</b></h6>

            </div> 

            {% endif %}

        </div>
      </div>
    </section>
  </body>
</html>

{% endblock %}